/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*fonts*/
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
  url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
  url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("../fonts/FuturaPTCond-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPTCond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("../fonts/FuturaPTCond-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPTCond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*genaral styles*/
:root {
  --main-orange: #FFBD54;;
  --main-black: #333333;;
  --main-white: #ffffff;
  scroll-behavior: smooth;
}
.body {
  margin: 0;
  padding: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #E5E5E5;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.main-button {
  display: inline-block;
  padding: 15px 48px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: var(--main-white);
  background-color: var(--main-black);
  white-space: nowrap;
  border: none;
  cursor: pointer;
}
.main-button:hover {
  background-color: var(--main-orange);
  color: var(--main-black);
}
.main-button:active {
  opacity: 0.5;
}


/* HEADER INFO */
.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_container {
  max-width: 1150px;
  margin-left: auto;
}
.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 11px;
}
.adres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
}
.header__adress {
  margin-left: 9px;
}
.header-tel {
  margin-right: 9px;
  color: #333333;
  text-decoration: none;
}
.header-number {
  position: relative;
  z-index: 1;
  margin-right: 9px;
  color: #333333;
  text-decoration: none;
}
.header-number::before {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--main-orange);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
  border-radius: 50%;
}
.header-tell:hover {
  color: rgb(255,189,84);
}
.header-tell:hover {
  color: var(--main-black);
}

.working-days {
  margin: 0;
  padding: 0;
  margin-left: 17px;
}
.working-day {
  margin: 0;
  padding: 0;
  color: #333333;
}
.datee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*header*/

.site-header {
  background-color: var(--main-white);
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  z-index: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-logo-link {
  padding: 21px 0;
}
.header-logo-link:hover {
  opacity: 0.8;
}
.header-logo-link:active {
  opacity: 0.4;
}
.header-logo {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-link {
  position: relative;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-black);
  text-decoration: none;
}
.active-page .header-link::after,
.header-link:hover::after {
  display: inline-block;
}
.header-link:hover {
  color: var(--main-white);
  background-color: var(--main-orange);
}
.header-link:active {
  opacity: 0.4;
}
.header-link:active::after {
  display: none;
}
.header-logo {
  display: block;
}

.header__link:hover {
  display: inline-block;
  text-align: center;
  padding: 19px 27px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: var(--main-white);
  background-color: var(--main-black);
  white-space: nowrap;
  border: none;
  cursor: pointer;
}
.overall {
  margin-left: 168px;
}
.header__link {
  text-decoration: none;
  margin-left: 10px;

}

.pet {
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
/* ======hero== */
.hero {
  min-height: 790px;
  background-image: url("../img/Group\ 38.png"),
  url("../img/hero-bg-right.png");
  background-repeat: no-repeat;
  background-position: left top -70px,
  right bottom;
}

.birds-center {
  display: inline-block;
  margin-left: 750px;
  margin-top: 145px;


}
.birds-heading {
  margin: 0;
  font-size: 70px;
  line-height: 64px;
  width: 608px;
}
.blue {
  color: rgb(120,192,222);
}
.birds-text {

  width: 495px;
}
.birds-button {
  text-decoration: none;
  border-radius: 3px;
}
.line {
  width: 140px;
  border: 1px solid #DBDBDB;
}
.blo {
  min-height: 80px;
  background-image: url("../img/“.png"),
  url("../img/“.png");
  background-repeat: no-repeat;
  background-position: left 270px top,
  right 320px bottom;
}
.blok-text {
  margin-left: auto;
  margin-right: auto;
  width: 753px;
  font-size: 20px;
  line-height: 26px;
}
.cli {
  margin-top: 35px;
  margin-left: 600px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.heading {
  text-align: center;
  margin-top: 191px;
  font-size: 48px;
  line-height: 20px;
}
 /* =sectionn */
.section_line {
  position: relative;
  margin-bottom: 150px;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #78c0de;
  background-image: url("../img/leg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form-wrapper {
  padding-left: 250px;
}
.seci__heading {
  font-size: 48px;
  line-height: 28px;
  color: var(--main-white);
}
.seci-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.seci__email {
  width: 335px;
  margin-right: 21px;
  padding: 18px 20px;
  border-radius: 5px;
  border: 1px solid var(--main-white);
}
.seci__email:not(:valid) {
  border: 1px solid #dd1e05;
  color: #dd1e05;
}
.seci__email:not(:valid)::-webkit-input-placeholder {
  color: #dd1e05;
}
.seci__email:not(:valid)::-moz-placeholder {
  color: #dd1e05;
}
.seci__email:not(:valid):-ms-input-placeholder {
  color: #dd1e05;
}
.seci__email:not(:valid)::-ms-input-placeholder {
  color: #dd1e05;
}
.seci__email:not(:valid)::placeholder {
  color: #dd1e05;
}
.seci__email:valid {
  border: 1px solid #09a535;
  color: #09a535;
}
.seci__email:valid::-webkit-input-placeholder {
  color: #09a535;
}
.seci__email:valid::-moz-placeholder {
  color: #09a535;
}
.seci__email:valid:-ms-input-placeholder {
  color: #09a535;
}
.seci__email:valid::-ms-input-placeholder {
  color: #09a535;
}
.seci__email:valid::placeholder {
  color: #09a535;
}
.seci__button {
  padding: 15px 51px;
  background-color: var(--main-black);
  color: var(--main-white);
  border-radius: 3px;
  cursor: pointer;
}
.seci__dog {
  position: absolute;
  top: -69px;
  right: 0;
}

/* ==map====== */
.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.formms {
  width: 652px;
  /* height: 888px; */
  background-color: #333333;
}

.cli {
  font-size: 20px;
  line-height: 26px;
}
.map-heading {
  margin: 0;
  padding-top: 14px;
  width: 360px;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}
.map-text {
  padding-top: 29px;
  width: 334px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;

}
.form {
  width: 700px;
}
.form {
  width: 375px;
  padding: 29px;
}
.form-input {
  width: 333px;
  padding: 18px 20px;
  margin-bottom: 14px;
  color: #191919;
  border: none;
  border-radius: none;
  background-color: #ffffff;
}
.form-input::-webkit-input-placeholder {
  color: #191919;
}
.form-input::-moz-placeholder {
  color: #191919;
}
.form-input:-ms-input-placeholder {
  color: #191919;
}
.form-input::-ms-input-placeholder {
  color: #191919;
}
.form-input::placeholder {
  color: #191919;
}
.emaills {
  padding-top: 14px;
  padding: 18px 0;
  border-radius: 1px;
}
.imput-textarea {
  padding-top: 14px;
}
.form-button {
  display: block;
  margin: 0 auto;
  margin-right: 100px;
  margin-top: 30px;
  padding: 15px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background-color: var(--main-orange);
  color: var(--main-white);
  border-radius: none;
}
.footerr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 239px;
  padding-bottom: 100px;
  background-color: #F3F3F3;;
}
.imgfo {
  margin-top: 61px;
  margin-left: 70px;
}
.footer-list {
  padding: 0;
  margin: 0;
  margin-top: 61px;
  margin-left: 70px;
  list-style-type: none;
}
footer-link {
  text-decoration: none;
}
.working-dayss {

  margin: 0;
  padding: 0;
}
.footer-date {
  margin-top: 61px;
  margin-left: 70px;
}
.adressss {
  margin-top: 61px;
  margin-left: 70px;
}
.numerss {
  margin-top: 61px;
  margin-left: 70px;
}



