/*fonts*/
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/") format("woff2"),
      url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/") format("woff2"),
      url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
      url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
      url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("../fonts/FuturaPTCond-Medium.woff2") format("woff2"),
      url("../fonts/FuturaPTCond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("../fonts/FuturaPTCond-Medium.woff2") format("woff2"),
      url("../fonts/FuturaPTCond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*genaral styles*/
:root {
	--main-blue: #00bafc;
	--main-black: #191919;
	--main-white: #ffffff;
	scroll-behavior: smooth;
}
.body {
	margin: 0;
	padding: 0;
	font-family: "Futura PT", "Arial", sans-serif;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.container {
	max-width: 1148px;
	margin: 0 auto;
	padding: 0 24px;
}
.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

